<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('components/header/head') %>

<body>
	<%- body %>
	<%- partial('components/scripts') %>
	<% if (theme.plugins.aplayer.enable) { %>
	<%- partial('components/plugins/aplayer') %>
	<% } %>
	<!-- 以下为MetingJS播放器（自添加需保留） -->
	<% if (theme.plugins.meting.enable) { %>
		<%- partial('components/plugins/meting_js_only') %>
	<% } %>
	<% if (theme.plugins.meting.global_sticky_enable) { %>
		<%- partial('components/plugins/meting') %>
	<% } %>
	<!-- 以下为鼠标点击特效 -->
	<%- renderJS('libs/brothel.js') %>
</body>

</html>